<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
  <div id="content"></div>
  <script src="../static/vendors/jquery.min.js"></script>
  <script src="../static/vendors/JSXTransformer.js"></script>


  <!-- 配置文件-->
  <script type="text/javascript" src="../static/pages/core/config.js"></script>

  <!--<script src="../static/dist/dd-components-0.1.1.min.js"></script>-->
  <script src="http://127.0.0.1:3000/static/dd.js"></script>

  <!-- 路由文件-->
  <script type="text/javascript" src="../static/pages/core/router.js"></script>

123456大幅度

</body>
</html>